<h2>Adding Recipe</h2>

<p> Title: {{input type="text" value=title}} </p>
<p> Estimated Time: {{input type="text" value=estimatedTime}} </p>
<p> Ingredients: {{textarea value=ingredients}} </p>
<p> Steps: {{textarea value=steps}} </p>

<button {{action "save"}}>Save</button>
